@keyframes scaleUp {
  from { transform: scale(0);}
  to { transform: scale(1);}
}

h1 {
  font-size: 4;
  color: white;
  text-shadow: 2px 2px 4px #ff05ffef; 
  text-align: center;
  margin-left: 50px;
  padding-top: 25px;
  font-family: 'Open Sans', sans-serif, fantasy;
  border-bottom: 5px solid rgb(255, 255, 255);
  animation: scaleUp 2s ease-in-out;
}

h2 {
  color: rgb(55, 5, 238);
  background: radial-gradient(#00fff2,rgba(83, 255, 3, 0.932));
  text-align: left;
  margin-left: 50px;
  padding-top: 10px;
  line-height: 1,7;
}

span {
  text-decoration: underline rgb(0, 0, 0);
}

body {
  background: linear-gradient(to right, #1abc9c, #3498db);
}

 #contenido {
  background-color: beige;
  overflow: auto;
  padding: 20px;
  margin-bottom: 20px;
 }

p {
  line-height: 40px;
  font-size: 18px;
  text-align: left;
  margin-right: 100px;
  text-indent: 30px;
}

.image {
  float: left;
  margin-right: 20px;
  margin-left: 50px;
  border-radius: 10px;
  height: 290px;
}

.link-button {
  margin-left: 50px;
  text-decoration: none;
  color: black;
  border: 1px solid none;
  background-color: rgb(220, 220, 5);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 3px #888888;
  font-style: italic;
  font-weight: 700;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link-button:hover {
  background-color: #9fc22a;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  opacity: 0.8;
}
p::first-letter {
  text-transform: uppercase;
  font-size: 2em;
}
a {
  color: rgb(143, 6, 120);
}
